# Dependencies
node_modules/
.pnpm-store/

# Nuxt
.nuxt/
.output/
dist/
.data/

# Environment
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & caches
*.log
npm-debug.log*
.eslintcache
*.tsbuildinfo

# Testing
coverage/
